{% extends 'base.html'%}

{% block content%}
{% if request.user.is_authenticated%}
<div style="to-margin:100px">
    <form action="" method="POST">
        {% csrf_token%}
        <div>
            <h1> are you sure you want logout  </h1>
            <button type="submit"> yes, logout</button>
        </div>
<!--            <h1> click here to fill out the form <a href="/article/create/"> create form</a> </h1>-->
    </form>
</div>
{% else%}
<h1> you are not login do you want login <a href="/login/">login</a></h1>
<!--<h1> click here to fill out the form <a href="/article/create/"> create form </a></h1>-->
{% endif%}
{% endblock content%}
